*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
    color: #323232;
}
h2{
    color: #323232;
    font-size: 2rem;
}
h3,h4{
    color: #323232;

}
p{
    font-size: 16px;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}
#navbar{
    position: relative;
    background-color: #323232;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin: 16px;
    font-size: 1.3rem;
}
li a:hover{
    cursor: pointer;
    color: #357C3C;
}

li a{
    text-decoration: none;
    color: #fff;
}
.burger{
position: absolute;
right: 5%;
top: 15px;

display: none;
}
.line{
    height: 4px;
    width: 33px;
    background-color: #fff;
    margin: 4px 33px;
}
body{
    font-family: UberMove, sans-serif;

}

.first .block{
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}
.first .block h1{
    font-weight: lighter;
   
}
.block .left, .right{
width: 45%;
}
.block  {
    padding: 8px 24px 24px 24px;
}
.block .right img{
width: 90%;
}
.block .left{
    padding: 28px 0px 0px 12px;
}
.block .left p{
    line-height: 1.6;
    margin-bottom: 24px;
}
.block .left a{
    color: #fff;
    background-color: #323232;
    text-decoration: none;
    font-size: large;
    padding: 17px 24px;
}
.second .block2{
    padding: 86px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block2 .right{
    width: 30%;
}
.second .block2 .left , .right{

width: 45%;
} 
.second .block2 .left img{
    width: 100%;
}
.third{
    padding: 64px;
}

.third .right{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.third .right p{
    line-height: 1.4;
}
.third .right .card{
    width: 30%;
}
.fourth .block4 {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-around;
    padding: 64px;
}
.fourth .right{
    width: 40%;
}
.fourth .block4 .left{
    width: 50%;
}
.fourth .right h2{
    line-height: 1.4;
}
.fourth .right a{
    color: #fff;
    background-color: #323232;
    text-decoration: none;
    font-size: small;
    padding: 14px 19px;
}
.fourth .right p{
    padding-bottom: 14px;
}
footer{
    background-color: #323232;
    overflow: hidden;
}
footer h2{
    font-size: 0.8rem;
}
footer img{
    width: 150px;
}
footer .fa-icon{
    font-size: 27px;
   
}
#fb:hover{
    transform: scale(1.2);
}
#twitter:hover{
    transform: scale(1.2);
}
#linkedin:hover{
transform: scale(1.2);
}
#instagram:hover{
    transform: scale(1.2);

}
footer .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}









@media (max-width:700px){
    *{
        margin: 0;
        padding: 0;

    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.4rem;
    }
    p{
        font-size: 14px;
    }
    .navbar{
        justify-content: center;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        height: 370px;
        display: block;
        background-color: #323232;
       
    }
    .nav-list #create{
        color: #fff;
    }
    nav #logo{
        display: block;
        border-bottom: 1px solid;
        color: #323232;
    }
    ul{
        margin-top: 56px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
    height: 72px;
    }
    .v-class-resp{
    opacity: 0;
    }
    .first .block{
      
        margin-top: 0px;
       
        flex-direction: column;
    }
    .block .left, .right{
        width: 100%;
        }
        .block .left {
            padding-bottom: 32px;
        }
        .block{
            padding: 24px 24px 24px 24px;
        }
        .block .left p{
            margin-bottom: 4px;
        }
        .block .left a{
           
            font-size: medium;
            padding: 10px 16px;
        }
        .block2 .right{
            width: 100%;
        }
        .second .block2{
            flex-direction: column;
            padding: 40px 24px;
        }
        .second .left h2{
            padding-bottom: 32px;
        }
        .second .block2 .left , .right{
            width: 100%;
        }
        .second .right h3{
            padding: 12px 0px 12px 0px;
        }
        .second .right p{
            line-height: 1.6;
        }
        .third{
            padding: 40px 24px;
        }
      
        .third .right{
            flex-direction: column;
        }
        .third .right .card{
            width: 100%;
            margin: 6px 0px 6px 0px;
        }
        .third .right .card p{
            line-height: 1.4;
        }
        .fourth .block4{
            flex-direction: column;
            padding: 40px 24px;
        }
        .fourth .block4 .left img{
            width: 100%;
        }
        .fourth .block4 .left{
            width: 100%;
        }
        .fourth .block4 .right{
            width: 100%;
        }
        .fourth .right p{
            padding-bottom: 12px;
        }
        footer .fa-icon{
            font-size: 1rem;
        }
        footer img{
            width: 4rem;
        }

}